<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <main>
      {% block content %}{% endblock %}
    </main>
    <script>
    {% block scripts %}{% endblock %}
    </script>
  </body>
</html>
