<?php
require_once __DIR__."/../conf/config.php";
?>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <main>
      {% block content %}{% endblock %}
      {% if cfg.env == 'dev' %}
      <div style="position:fixed; bottom:10px; right:10px;
        padding:2px 8px; border-radius:8px;
        font-size:11px; font-family:monospace;
        background:#fff; color:#555; font-weight:normal;
        border:1px solid #aaa;">
        Build: {{ cfg.build_timestamp }}
      </div>
      {% endif %}
    </main>
    <script>
    {% block scripts %}{% endblock %}
    </script>
  </body>
</html>
